.vertical-center {
    min-height: 60%;
    min-height: 60vh;
    display: flex;
    align-items: center;
}
.zindex-1 {
    z-index: 1;
}
.zindex-2 {
    z-index: 2;
}
.graphics-1, .graphics-2{
    left: 0;
    bottom: 0;
}
.graphics-3{
    right: 0;
    bottom: 0;
}
@media only screen and (min-width: 700px) {
    .hero-img {
        left: 140;
        bottom: 0;
        width: 500px;
    }
}